<% title 'Forgot Password' %>
<div class='row'>
  <div class='col-md-6 col-md-offset-3'>
    <div class='panel panel-default'>
      <div class='panel-heading'>
        <h1 class='text-center'>Forgot Password</h1>
      </div>
      <div class='panel-body'>
        <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
          <%= devise_error_messages! %>

          <div class='field form-group'>
            <%= f.label :email %>
            <div class='clearfix'></div>
            <%= f.email_field :email, required: true, autofocus: true, placeholder: 'Enter email', class: 'form-control size-textbox', value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
          </div>

          <div class='actions'>
            <%= f.submit 'Resend confirmation instructions', class: 'form-control btn-info' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class='text-center'>
  <%= render 'devise/shared/links' %>
</div>
