<div class='container alignment'>
  <h1 class='text-center'>
    <%= title_titelize(@movie.title) %>
  </h1>

  <div class='container-fluid'>
    <div class='row movie-field-content'>
      <div class='col-md-12'>
        <div>
          <span class='heading-font'>
            <strong>Cast:</strong>
          </span>
          <span class='text-capitalize font-weight-normal'><%= @actors.collect(&:name).join(',') %></span>
        </div>

        <div>
          <span class='heading-font'>
            <strong>Genre:</strong>
          </span>
          <%= @movie.genre %>
        </div>

        <div>
          <span class='heading-font'>
            <strong>Duration:</strong>
          </span>
          <%= @movie.duration %>
          <span> mins</span>
        </div>

        <div>
          <span class='heading-font'>
            <strong>Release Date:</strong>
          </span>
          <%= @movie.release_date %>
        </div>

        <div class='newline '>
          <%= image_tag @movie.attachments.first.image.url(:large) %>
          <div class='clearfix'></div>
          <% @movie.attachments.each do |attachment| %>
            <%= image_tag attachment.image.url(:thumb) %>
          <% end %>
        </div>

        <div class='newline poster-trailer-alignment'>
          <span class='heading-font'>
            <strong>Trailer:</strong>
          </span>
          <div class='clearfix'></div>
          <%= raw @movie.trailer %>
        </div>

        <div id='description-alignment'>
          <div class='clearfix'></div>
            <span class='heading-font'>
              <strong>Description:</strong>
            </span>
          <div class='clearfix'></div>
          <%= raw @movie.description %>
        </div>

          <div id='movies-review'>
            <%= render 'reviews/reviews' %>

            <% if user_signed_in? %>
              <h2>Add a review:</h2>

              <%= form_for([@movie, @movie.reviews.build], remote: true) do |f| %>
                <%= f.hidden_field :user_id, value: current_user.id %>

                <div class="field">
                  <%= f.label :comment %><br>
                  <%= f.text_area :comment %>
                </div>

                <div class="actions">
                  <%= f.submit %>
                </div>
              <% end %>
            <% end %>
          </div>

        <%= link_to 'Edit', edit_movie_path(@movie), class: 'btn btn-success' %> |
        <%= link_to 'Destroy', @movie, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %> |
        <%= link_to 'Back', movies_path, class: 'btn btn-primary' %>
        <div class='clearfix margin-up-down'></div>
        <div class='clearfix margin-up-down'></div>
      </div>
    </div>
  </div>
</div>
