<% title @movie.title %>
<div class='container-fluid' id='movie-container' data-movie='<%= @movie.id %>' data-rating='<%= @rating.id if user_signed_in? %>'>
  <div class='row newline'>
    <div class='col-md-6'>
      <div class='newline'>
        <%= image_tag @movie.first_poster(:medium), class: 'img-responsive' %>
        <div class='newline'></div>
        <%= render 'shared/carousel', images: @movie.attachments unless @movie.attachments.empty? %>
      </div>

      <% if user_signed_in? %>
        <div>
          <h3>Rate Me!</h3>
          <div class='star-rating' data-score='<%= @rating.score %>'></div>
        </div>
      <% end %>
    </div>

    <div class='col-md-6'>
      <div class='row'>
        <div class='col-md-7'>
          <h1 class='pull-left'>
            <%= title_titelize(@movie.title) %>
          </h1>
        </div>

        <div class='col-md-5'>
          <% if @movie.favourite_movies.already_added_to_favourites?(current_user,@movie) %>
            <div class='glyphicon glyphicon-heart glyphicon-size'></div>
            <span class='avg-star-rating pull-right m-20' data-score='<%= @movie.get_average_rating %>'></span>
          <% else %>
            <div class='favourite-button'>
              <%= link_to 'Add to Favourite', movie_favourite_movies_path(@movie), class: 'btn btn-xs btn-primary', method: :post %>
              <span class='avg-star-rating pull-right' data-score='<%= @movie.get_average_rating %>'></span>
            </div>
          <% end %>
        </div>
      </div>

      <div class='clearfix'></div>

      <div class='newline'>
        <strong>Cast:</strong>
        <span class='text-capitalize font-weight-normal'>
        <%= raw @movie.actors.collect { |actor| link_to actor.name, actor }.join(",") %>
      </div>

      <div class='newline'>
        <strong>Genre:</strong>
        <%= title_titelize(@movie.genre) %>
      </div>

      <div class='newline'>
        <strong>Release Date:</strong>
        <%= date_display(@movie.release_date) %>
      </div>

      <div class='newline'>
        <strong>Duration:</strong>
        <%= @movie.duration %>
        <span> mins </span>
      </div>

      <div class='newline'>
        <div class='clearfix'></div>
        <%= raw @movie.trailer %>
      </div>

      <div class='newline'>
        <strong>Description:</strong>
        <div class='clearfix'></div>
        <%= raw @movie.description %>
      </div>

      <%= link_to 'Edit', edit_movie_path(@movie), class: 'btn btn-success' %>
      <%= link_to 'Destroy', @movie, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
      <%= link_to 'Back', movies_path, class: 'btn btn-primary' %>
    </div>
  </div>

  <div class='row'>
    <div class='col-md-12'>
      <%= render 'reviews/reviews' %>
      <% if user_signed_in? %>
        <h2>Add a review:</h2>
        <%= render partial: 'reviews/form' , locals: {form_type: true} %>
      <% end %>
    </div>
  </div>
</div>
<%= render 'shared/modal' %>
