<div class='row'>
  <div class='col-md-12'>
    <div class='panel panel-default'>
      <div class='panel-heading'>
        <h1 align='center'>View Profile</h1>
      </div>
      <div class='panel-body'>
        <div class='row'>
          <div class='col-md-6'>
            <%= image_tag @user.profile_picture(:medium), class: 'img-responsive' %>
          </div>
          <div class='col-md-6'>
            <div class='newline'>
              <span>
                <strong>Email:</strong>
              </span>
              <%= @user.email %>
            </div>
            <div class='newline word-wrapper'>
              <span>
                <strong>Password:</strong>
              </span>
              <%= @user.encrypted_password %>
            </div>

            <div class='newline'>
              <h3>Favourite Movies:</h3>
              <div>
                <% @user.favourite_movies.in_groups_of(3, false).each do |movie_group| %>
                  <div class='row'>
                    <% movie_group.each do |favorite| %>
                      <div class='col-md-3'>
                        <%= link_to image_tag(favorite.movie.first_poster(:thumb)), favorite.movie %>
                        <%= favorite.movie.title %>
                      </div>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </div>

            <%= link_to 'Back', root_url, class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
