<div id="review-<%= review.id %>" class='review-alignment'>

  <% if review.user %>
    <strong>Username:</strong>
    <%= review.show_email %>
    <div class='clearfix'></div>
    <strong>Review:</strong>
  <% end %>
  <%= review.comment %>
  <% if user_signed_in? %>
    <% if check_user(review) %>
      <div class='clearfix'></div>
      <%= link_to 'Edit', edit_movie_review_path(@movie, review), class: 'btn btn-xs btn-success' %>
      <%= link_to 'Destroy', [@movie, review], remote: true, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger text-color' %>
    <% end %>
  <% end %>
</div>
