<div id="review-<%= review.id %>" class='review-alignment'>
  <div class='row'>

    <div class='col-md-3'>
      <strong>Review By:</strong>
      <%= review.user_email %>
    </div>

    <div class='col-md-3 word-wrapper'>
      <strong>Review:</strong>
      <%= review.comment %>
    </div>

    <div class='col-md-3'>
      <strong>Reviewed on :</strong>
      <%= review.created_at.to_date %>
    </div>

    <div class='col-md-3'>
      <% if user_signed_in? %>
        <% if check_review_owner(review) %>
          <div class='clearfix'></div>
          <%= link_to 'Edit', edit_movie_review_path(@movie, review), class: 'btn btn-xs btn-success' %>
          <%= link_to 'Destroy', [@movie, review], remote: true, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger' %>
        <% else %>
          <% if review.reported_by?(current_user) %>
            <div class='btn btn-xs btn-danger'>Reported</div>
          <% else %>
            <span id="reviews-<%= review.id %>"><%= link_to 'Report',[@movie, review, ReportedReview.new], class: 'btn btn-xs btn-primary', remote: true, method: :post %></span>
          <% end %>
        <% end %>
      <% end %>
    </div>

  </div>

</div>
