<!DOCTYPE html>
<html>
<head>
  <title>MoviesSystem</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'shared/header' %>
<% unless notice.blank? %>
  <div>
    <p id='notice' class='alert alert-success'><%= notice %></p>
  </div>
<% end %>
<%= yield %>
<%= render 'shared/footer' %>

</body>
</html>
